{% extends 'base.tmpl' %}
{% set active_page = 'help' %}

{% block title %}Hilfe{% endblock %}

{% block aside %}
Hilfe
{% endblock %}

{% block content %}
    <h1>Hilfe</h1>
    <p>
      Sie können ins Wiki schreiben und Icons entwerfen.
    </p>
{% endblock %}