<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
</head>
<body>
    <h1>Durchsuche {netloc}</h1>

    <form action="" method="GET">
        <input name="q" id="q" value="{q}">
        <button type=submit>Suchen</button>
    </form>

    <p>{msg}</p>
</body>
</html>